#menuToggle{
	display: none;
}

@media screen and (max-width: 760px){
	
*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	div.nav-bar{
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 0.5rem 2rem;
		width: 100vw;


	}

	div.logo{
		font-size: 1rem;
		text-align: left;
		justify-content: inherit;
		box-sizing: border-box;
		padding: 0.6rem 0.3rem;

	}

	ul.nav-links{
		display: none;
		flex-direction: column;
	}

	div.hero-content-heading h3{
		text-align: center;
		font-size: 1.5rem;	
		word-wrap: none;
		justify-content: center;
		display: flex;
		
}

div.hero-content-heading p{
	
	font-size: 1rem;
	text-align: center;
	align-items: center;
	position: relative;
	justify-content: center;
	display: flex;
	word-break: normal;

}


div.hero-content-btn {
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 15%;
	display: flex
	font-size: 19px;
	box-sizing: border-box;

}

div.hero-background {
    background:#9fa1a4;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;

}

div.background{
	background-color: #edeeee;
	width: -90%;
	height: 15rem;
	box-shadow: none;

}

div.hero-background-pos{
	 position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 0;
    border-radius: 50%;
    box-shadow: none;   
    }

    div.backround h4{
    	font-size: 1.5rem;
    }

div.background p{
	font-size: 1rem;
	color: #A6A5AA;
	position: relative;
}

div.snapshot-team h2 {
	font-size: 1.5rem;
	text-align: center;
}

div.snapshot-team p{
	font-size: 1rem;
	text-align: center;
}

div.snapshot-box-content {
	flex-direction: column;
	display: flex;
	position: relative;
	width: 70%;
	text-align: center;
	align-items: center;
	margin-left: 3rem;
	justify-content: center;
}

div.box1{
	width: 20rem;
	height: 17rem;
	position: relative;
	margin-right: 5rem;
	padding: 20px 30px;
}

div.box3{
	padding: 20px 30px;
	width: 20rem;
	height: 17rem;
	position: relative;
	margin-right: 5rem;
	align-items: center;
	align-content: center;
}

div.footer{
	display: inline-grid;
}


div.footer-content h4{
	font-size: 1.4rem;
	text-align: center;
}


div.footer-content p{
	font-size: 1rem;
	text-align: center;
}

div.footer-input{

	display: flex;
	flex-direction: column;
	border-spacing: 2rem;
	width: 75%;
	align-items: center;
	position: relative;
	margin-top: 1.4rem;
}

input[type="text"]{
	width: 100%;
	border-radius: 0.3rem;
}

input[type="email"]{
	width:100%;
	border-radius: 0.3rem;
	margin-top: 1rem;
}

textarea {
	width: 100%;
	border-radius: 0.3rem;
	
}

div.footer-btn a{
	border-radius: 0.3rem;
}

/*Hamburger Toogle*/
	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 50px;
	  left: 50px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle a
	{
	  text-decoration: none;
	  color: #232323;
	  
	  transition: color 0.3s ease;
	}

	#menuToggle a:hover
	{
	  color: tomato;
	}


	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0; /* hide this */
	  z-index: 2; /* and place it over the hamburger */
	  
	  -webkit-touch-callout: none;
	}

	/*
	 * Just a quick hamburger
	 */
	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #cdcdcd;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}

	/* 
	 * Transform all the slices of hamburger
	 * into a crossmark.
	 */
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

	/*
	 * But let's hide the middle one.
	 */
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	/*
	 * Ohyeah and the last one should go the other direction
	 */
	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}

	/*
	 * Make this absolute positioned
	 * at the top left of the screen
	 */
	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: #ededed;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}

	/*
	 * And let's slide it in from the left
	 */
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
}

@media screen and (max-width: 360px){
	div.hero-background-pos{
		width: 70px;
		height: 70px;
		left: 125%!important;
		top: 150%!important;
	}
}